<a href="https://colab.research.google.com/github/cpython-projects/da_vn/blob/main/lesson_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = [1, 2, 3, 4, 5]

a, b, c, d, e = x
print(a, b, c, d, e)
print(x)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [3]:
a, b, c = 'Hey'
print(a, b, c)

H e y

In [4]:
a, b, c, d = 1, 2, 3, 4

x = a, b, c, d

print(x)

(1, 2, 3, 4)

In [6]:
x = [10, 20, 30, 40]

for index, item in enumerate(x):
  print(index, item)

0 10
1 20
2 30
3 40

In [9]:
x = [10, 20, 30, 40]
print(*x, sep='***')

10***20***30***40

In [13]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

a, b, *c = x

print(a)
print(b)
print(c)

1
2
[3, 4, 5, 6, 7, 8, 9]

In [14]:
text = 'Hello, world!'
a, b, *c = text
print(a)
print(b)
print(c)

H
e
['l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [15]:
x = [1, 2]
a, b, *c = x
print(a)
print(b)
print(c)

1
2
[]

In [17]:
data = [
    '1 Bob Simson 19.58$ decorations',
    '2 Mary 66.7$ food',
    '3 Mary 98.91$ toys',
    '4 Aleksa 72.29$ drinks',
    '5 Maria Simson 84.48$ food',
    '6 Aleksa 100.41$ accessories',
    '7 Mary 19.9$ accessories',
    '8 Bob Simson 83.88$ drinks',
    '9 Bob Simson 58.21$ instruments',
    '10 Maria Simson 20.61$ accessories',
]

In [28]:
# total expenses

total = 0
for line in data:
  tmp = line.split()[-2].strip('$') #replace('$', '')
  total += float(tmp)

print(f'Toal: {total:.2f}$')

Toal: 624.97$

In [ ]:
'H' != 'h'

In [29]:
name = input('name>>').strip().lower()
name = ' '.join(name.split())

total = 0
for line in data:
  line = ' '.join(line.split())
  if name in line.lower():
    tmp = line.split()[-2].strip('$')
    total += float(tmp)

print(f'Toal: {total:.2f}$')

name>>Mary
Toal: 185.51$

In [30]:
name = input('name>>').strip().lower()
name = ' '.join(name.split())

total = 0
for line in data:
  _, *user_name, amount, category = line.split()
  user_name = ' '.join(user_name).lower()
  if user_name == name:
    total += float(amount.strip('$'))

print(f'Toal: {total:.2f}$')

name>>Mary
Toal: 185.51$

In [35]:
days_of_week = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

print(len(days_of_week))
print(days_of_week)

7
{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Error'}

In [33]:
x = [10, 20, 30]
print(x[0])

10

In [36]:
x = {1: 'one', 'two': 2}

print(x[1])
print(x['two'])
#

one
2

In [37]:
x = [1, 2, 3, 4]
hash(x)

TypeError: unhashable type: 'list'

In [38]:
x = (1, 2, 3, 4)
hash(x)

590899387183067792

In [41]:
x = [1, 2, 3, 4]
y = (x, 10)

print(y)

x.append(5)
print(y)

print(hash(y))

([1, 2, 3, 4], 10)
([1, 2, 3, 4, 5], 10)

TypeError: unhashable type: 'list'

In [45]:
# key = int, str, tuple(int, str)

x = {1: 'one', 2: 'two', 3: 'three'}

print(x[1])
x[1] = 'uno'
print(x)
x[4] = 'four'
print(x)
del x[1]
print(x)

one
{1: 'uno', 2: 'two', 3: 'three'}
{1: 'uno', 2: 'two', 3: 'three', 4: 'four'}
{2: 'two', 3: 'three', 4: 'four'}

In [47]:
if 10 in x:
  print(x[10])

In [49]:
for item in x:
  print(item, x[item])

2 two
3 three
4 four

In [50]:
x.values()

dict_values(['two', 'three', 'four'])

In [51]:
for value in x.values():
  print(value)

two
three
four

In [52]:
x.keys()

dict_keys([2, 3, 4])

In [53]:
x.items()

dict_items([(2, 'two'), (3, 'three'), (4, 'four')])

In [54]:
for key, value in x.items():
  print(key, value)

2 two
3 three
4 four

In [56]:
text = input('text>>').lower() # Hello, hello, HELLO

import string
for item in string.punctuation:
  text = text.replace(item, ' ')

words = text.split()
print(words)

res = {}
for word in words:
  if word in res:
    res[word] += 1
  else:
    res[word] = 1


print(res)

text>>aaa aaa aaa bbbb bbbb
['aaa', 'aaa', 'aaa', 'bbbb', 'bbbb']
{'aaa': 3, 'bbbb': 2}

In [ ]:
text = input('text>>').lower() # Hello, hello, HELLO

import string
for item in string.punctuation:
  text = text.replace(item, ' ')

words = text.split()
print(words)

res = {}
for word in words:
  if word not in res:
    res[word] = words.count(word)

print(res)

In [57]:
x = {1: 'one', 2: 'two', 3: 'three'}
print(x.get(1))

one

In [59]:
x.get(10, 'Error')

'Error'

In [ ]:
text = input('text>>').lower() # Hello, hello, HELLO

import string
for item in string.punctuation:
  text = text.replace(item, ' ')

words = text.split()
print(words)

res = {}
for word in words:
  res[word] = res.get(word, 0) + 1
print(res)

In [61]:
from collections import defaultdict

text = 'Hello hello HELLO world! WORLD!'.lower()

import string
for item in string.punctuation:
  text = text.replace(item, ' ')

words = text.split()
print(words)

res = defaultdict(int)
for word in words:
  res[word] += 1
print(res)

['hello', 'hello', 'hello', 'world', 'world']
defaultdict(<class 'int'>, {'hello': 3, 'world': 2})

In [62]:
import string
students = {}

while True:
  name = ' '.join(input().title().split())
  points = input('points>>')


  for item in string.punctuation:
    points = points.replace(item, ' ')

  points = list(map(int, points.split()))

  students[name] = points

  ans = input('Exit? Y/N').lower().strip()
  if ans == 'y':
    break

print(students)

Alice
points>>12, 34, 45, 34, 23, 23
Exit? Y/Nn
Bob
points>>45, 100, 1, 2, 3
Exit? Y/Ny
{'Alice': [12, 34, 45, 34, 23, 23], 'Bob': [45, 100, 1, 2, 3]}

In [63]:
from collections import defaultdict

data = [
    '1 Bob Simson 19.58$ decorations',
    '2 Mary 66.7$ food',
    '3 Mary 98.91$ toys',
    '4 Aleksa 72.29$ drinks',
    '5 Maria Simson 84.48$ food',
    '6 Aleksa 100.41$ accessories',
    '7 Mary 19.9$ accessories',
    '8 Bob Simson 83.88$ drinks',
    '9 Bob Simson 58.21$ instruments',
    '10 Maria Simson 20.61$ accessories',
]

res = defaultdict(float)

for line in data:
  *_, amount, category = line.split()
  amount = float(amount.replace('$', ''))
  category = category.lower()

  res[category] += amount

for key, value in res.items():
  print(f'{key}: {value:.2f}$')

decorations: 19.58$
food: 151.18$
toys: 98.91$
drinks: 156.17$
accessories: 140.92$
instruments: 58.21$

In [65]:
x = 'Hrtjrkjdklfj elkfjdklejfklej dkljkljfkljr wekjededfk flktlrkgkfl'

res = {}

for item in x:
  if item in res:
    res[item] += 1
  else:
    res[item] = 1

print(res)

{'H': 1, 'r': 4, 't': 2, 'j': 10, 'k': 13, 'd': 5, 'l': 10, 'f': 7, ' ': 4, 'e': 6, 'w': 1, 'g': 1}

In [66]:
from collections import defaultdict
x = 'Hrtjrkjdklfj elkfjdklejfklej dkljkljfkljr wekjededfk flktlrkgkfl'

res = defaultdict(int)

for item in x:
  res[item] += 1

print(res)

defaultdict(<class 'int'>, {'H': 1, 'r': 4, 't': 2, 'j': 10, 'k': 13, 'd': 5, 'l': 10, 'f': 7, ' ': 4, 'e': 6, 'w': 1, 'g': 1})

In [67]:
from collections import Counter

x = 'Hrtjrkjdklfj elkfjdklejfklej dkljkljfkljr wekjededfk flktlrkgkfl'
res = Counter(x)
print(res)

Counter({'k': 13, 'j': 10, 'l': 10, 'f': 7, 'e': 6, 'd': 5, 'r': 4, ' ': 4, 't': 2, 'H': 1, 'w': 1, 'g': 1})

In [72]:
x = [12, 23, 34, 234, 1,2, 2,3, 3, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2,3 ,3 ,3 ,3, 3]
y = Counter(x)
print(y.most_common(5))

[(1, 7), (2, 7), (3, 7), (12, 1), (23, 1)]