<a href="https://colab.research.google.com/github/cpython-projects/da_vn/blob/main/session_04_part_2_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
from google.colab import files
uploaded = files.upload()

Saving session_04_data.csv to session_04_data (1).csv

In [54]:
import pandas as pd
df = pd.read_csv('session_04_data (1).csv', delimiter=',', encoding='utf-8')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12 non-null     int64
 1   ID          12 non-null     int64
 2   Name        12 non-null     object
 3   gender      12 non-null     object
 4   Age         10 non-null     object
 5   Salary ($)  10 non-null     float64
 6   Hire Date   12 non-null     object
 7   Country     12 non-null     object
 8   Weight      12 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 996.0+ bytes

In [5]:
df.columns.tolist()

['Unnamed: 0',
 'ID',
 'Name',
 'gender',
 'Age',
 'Salary ($)',
 'Hire Date',
 'Country',
 'Weight']

In [6]:
df.head()

,Unnamed: 0,ID,Name,gender,Age,Salary ($),Hire Date,Country,Weight
0,0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg

In [8]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
df.columns.tolist()

['ID', 'Name', 'gender', 'Age', 'Salary ($)', 'Hire Date', 'Country', 'Weight']

In [10]:
df.rename(columns={
    'ID': 'id',
    'Name': 'user_name',
    'gender': 'user_gender',
    'Age': 'user_age',
    'Salary ($)': 'user_salary',
    'Hire Date': 'user_hire_date',
    'Country': 'user_country',
    'Weight': 'user_weight'
}, inplace=True)
df.columns.tolist()

['id',
 'user_name',
 'user_gender',
 'user_age',
 'user_salary',
 'user_hire_date',
 'user_country',
 'user_weight']

In [11]:
df.isna().sum()

id                0
user_name         0
user_gender       0
user_age          2
user_salary       2
user_hire_date    0
user_country      0
user_weight       0
dtype: int64

In [14]:
df.duplicated().sum()
x = df.duplicated()
df[x]

,id,user_name,user_gender,user_age,user_salary,user_hire_date,user_country,user_weight
10,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
11,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs

In [17]:
df.drop_duplicates(inplace=True)
df

,id,user_name,user_gender,user_age,user_salary,user_hire_date,user_country,user_weight
0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
5,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs
6,7,George,M,29,NaN,2020-05-30,Germany,80kg
7,8,Hannah,F,33,150000.0,"July 4, 2018",France,180lbs
8,9,Isaac,M,45,200000.0,06-01-2017,France,90kg
9,10,Jack,M,Twenty,250000.0,2016-09-15,Brazil,200lbs

In [18]:
x = uniques = df.user_age.dropna().unique()
print(x)

['25' 'Thirty' '40' '22' '35' '29' '33' '45' 'Twenty']

In [20]:
df['user_age'] = df.user_age.replace(
    {
        'Thirty': '30',
        'Twenty': '20'
    }
)
df['user_age'] = pd.to_numeric(df['user_age'])

age_median = df.user_age.median()
df['user_age'] = df.user_age.fillna(age_median)

df.user_age

0    25.0
1    30.0
2    40.0
3    22.0
4    30.0
5    35.0
6    29.0
7    33.0
8    45.0
9    20.0
Name: user_age, dtype: float64

In [23]:
df.user_hire_date.dropna().unique()

array(['2023-01-10', '2022-12-05', '01/15/2021', 'March 1, 2020',
       '2021-07-20', '08/10/2019', '2020-05-30', 'July 4, 2018',
       '06-01-2017', '2016-09-15'], dtype=object)

In [24]:
pd.to_datetime(df.user_hire_date, errors='coerce')

0   2023-01-10
1   2022-12-05
2          NaT
3          NaT
4   2021-07-20
5          NaT
6   2020-05-30
7          NaT
8          NaT
9   2016-09-15
Name: user_hire_date, dtype: datetime64[ns]

In [25]:
from dateutil import parser

def date_parser(date_as_string):
  if pd.notna(date_as_string):
    return parser.parse(date_as_string).strftime('%Y-%m-%d') # %d.%m.%Y
  return date_as_string

df.user_hire_date = df.user_hire_date.apply(date_parser)
df.user_hire_date

0    2023-01-10
1    2022-12-05
2    2021-01-15
3    2020-03-01
4    2021-07-20
5    2019-08-10
6    2020-05-30
7    2018-07-04
8    2017-06-01
9    2016-09-15
Name: user_hire_date, dtype: object

In [26]:
df['user_hire_date'] = pd.to_datetime(df['user_hire_date'])
df.user_hire_date

0   2023-01-10
1   2022-12-05
2   2021-01-15
3   2020-03-01
4   2021-07-20
5   2019-08-10
6   2020-05-30
7   2018-07-04
8   2017-06-01
9   2016-09-15
Name: user_hire_date, dtype: datetime64[ns]

In [29]:
df.user_gender = df.user_gender.astype('category')
df.user_gender

0    F
1    M
2    M
3    M
4    F
5    M
6    M
7    F
8    M
9    M
Name: user_gender, dtype: category
Categories (2, object): ['F', 'M']

In [33]:
def converter_weight(item):
  if not isinstance(item, str):
    return item
  item = item.lower()
  if 'kg' in item:
    return float(item.replace('kg', ''))
  if 'lbs' in item:
    return float(item.replace('lbs', '')) * 0.453592

df['user_weight_kg'] = df['user_weight'].apply(converter_weight)
df.drop('user_weight', axis=1, inplace=True)

df.user_weight_kg

0    70.000000
1    69.853168
2    65.000000
3    63.502880
4    75.000000
5    74.842680
6    80.000000
7    81.646560
8    90.000000
9    90.718400
Name: user_weight_kg, dtype: float64

In [34]:
df

,id,user_name,user_gender,user_age,user_salary,user_hire_date,user_country,user_weight_kg
0,1,Alice,F,25.0,50000.0,2023-01-10,USA,70.000000
1,2,Bob,M,30.0,60000.0,2022-12-05,U.S.A.,69.853168
2,3,CHARLIE,M,40.0,NaN,2021-01-15,UK,65.000000
3,4,Dave,M,22.0,70000.0,2020-03-01,United Kingdom,63.502880
4,5,Eve,F,30.0,80000.0,2021-07-20,canada,75.000000
5,6,Frank,M,35.0,120000.0,2019-08-10,Canada,74.842680
6,7,George,M,29.0,NaN,2020-05-30,Germany,80.000000
7,8,Hannah,F,33.0,150000.0,2018-07-04,France,81.646560
8,9,Isaac,M,45.0,200000.0,2017-06-01,France,90.000000
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,90.718400

In [35]:
df.user_name = df.user_name.str.strip().str.title()

df

,id,user_name,user_gender,user_age,user_salary,user_hire_date,user_country,user_weight_kg
0,1,Alice,F,25.0,50000.0,2023-01-10,USA,70.000000
1,2,Bob,M,30.0,60000.0,2022-12-05,U.S.A.,69.853168
2,3,Charlie,M,40.0,NaN,2021-01-15,UK,65.000000
3,4,Dave,M,22.0,70000.0,2020-03-01,United Kingdom,63.502880
4,5,Eve,F,30.0,80000.0,2021-07-20,canada,75.000000
5,6,Frank,M,35.0,120000.0,2019-08-10,Canada,74.842680
6,7,George,M,29.0,NaN,2020-05-30,Germany,80.000000
7,8,Hannah,F,33.0,150000.0,2018-07-04,France,81.646560
8,9,Isaac,M,45.0,200000.0,2017-06-01,France,90.000000
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,90.718400

In [37]:
df.user_country.dropna().unique()

array(['USA', 'U.S.A.', 'UK', 'United Kingdom', 'canada', 'Canada',
       'Germany', 'France', 'Brazil'], dtype=object)

In [43]:
country_mappings = {
    'USA': 'United States',
    'U.S.A.': 'United States',
    'UK': 'United Kingdom',
    'canada ': 'Canada'
}

df['user_country'] = df['user_country'].replace(country_mappings).str.title()

df

,id,user_name,user_gender,user_age,user_salary,user_hire_date,user_country,user_weight_kg
0,1,Alice,F,25.0,50000.0,2023-01-10,United States,70.000000
1,2,Bob,M,30.0,60000.0,2022-12-05,United States,69.853168
2,3,Charlie,M,40.0,NaN,2021-01-15,United Kingdom,65.000000
3,4,Dave,M,22.0,70000.0,2020-03-01,United Kingdom,63.502880
4,5,Eve,F,30.0,80000.0,2021-07-20,Canada,75.000000
5,6,Frank,M,35.0,120000.0,2019-08-10,Canada,74.842680
6,7,George,M,29.0,NaN,2020-05-30,Germany,80.000000
7,8,Hannah,F,33.0,150000.0,2018-07-04,France,81.646560
8,9,Isaac,M,45.0,200000.0,2017-06-01,France,90.000000
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,90.718400

In [44]:
df.user_salary = df.user_salary.fillna(df.user_salary.mean())
df

,id,user_name,user_gender,user_age,user_salary,user_hire_date,user_country,user_weight_kg
0,1,Alice,F,25.0,50000.0,2023-01-10,United States,70.000000
1,2,Bob,M,30.0,60000.0,2022-12-05,United States,69.853168
2,3,Charlie,M,40.0,122500.0,2021-01-15,United Kingdom,65.000000
3,4,Dave,M,22.0,70000.0,2020-03-01,United Kingdom,63.502880
4,5,Eve,F,30.0,80000.0,2021-07-20,Canada,75.000000
5,6,Frank,M,35.0,120000.0,2019-08-10,Canada,74.842680
6,7,George,M,29.0,122500.0,2020-05-30,Germany,80.000000
7,8,Hannah,F,33.0,150000.0,2018-07-04,France,81.646560
8,9,Isaac,M,45.0,200000.0,2017-06-01,France,90.000000
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,90.718400

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10 non-null     int64
 1   user_name       10 non-null     object
 2   user_gender     10 non-null     category
 3   user_age        10 non-null     float64
 4   user_salary     10 non-null     float64
 5   user_hire_date  10 non-null     datetime64[ns]
 6   user_country    10 non-null     object
 7   user_weight_kg  10 non-null     float64
dtypes: category(1), datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 774.0+ bytes

In [46]:
q1 = df.user_salary.quantile(0.25)
q3 = df.user_salary.quantile(0.75)
iqr = q3-q1
outliers_salary = df[(df.user_salary < q1-1.5*iqr) | (df.user_salary > q3+1.5*iqr)]
outliers_salary

,id,user_name,user_gender,user_age,user_salary,user_hire_date,user_country,user_weight_kg
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,90.7184

In [49]:
filtering_data = df[~df.index.isin(outliers_salary)]

In [48]:
filtering_data

,id,user_name,user_gender,user_age,user_salary,user_hire_date,user_country,user_weight_kg
0,1,Alice,F,25.0,50000.0,2023-01-10,United States,70.000000
1,2,Bob,M,30.0,60000.0,2022-12-05,United States,69.853168
2,3,Charlie,M,40.0,122500.0,2021-01-15,United Kingdom,65.000000
3,4,Dave,M,22.0,70000.0,2020-03-01,United Kingdom,63.502880
4,5,Eve,F,30.0,80000.0,2021-07-20,Canada,75.000000
5,6,Frank,M,35.0,120000.0,2019-08-10,Canada,74.842680
6,7,George,M,29.0,122500.0,2020-05-30,Germany,80.000000
7,8,Hannah,F,33.0,150000.0,2018-07-04,France,81.646560
8,9,Isaac,M,45.0,200000.0,2017-06-01,France,90.000000
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,90.718400

In [51]:
top = filtering_data.groupby(df.user_country)['user_salary'].max()
print(top)

user_country
Brazil            250000.0
Canada            120000.0
France            200000.0
Germany           122500.0
United Kingdom    122500.0
United States      60000.0
Name: user_salary, dtype: float64