<a href="https://colab.research.google.com/github/cpython-projects/da_vn/blob/main/session01_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. **Average Salary:**
   Given a list of employee salaries for 12 months. Determine the average annual salary and print all months where the salary was above the average.

   *Input*:
   ```python
   salaries = [3000, 3200, 3100, 3300, 3500, 3400, 3600, 3800, 3700, 3900, 4000, 4200]
   ```

   *Output Example:*
   ```
   Average Salary: 3600
   Months with above-average salary: 8, 9, 10, 11, 12
   ```

2. **Month with Identical Salary:**
   Given a list of employee salaries for 12 months. Find all months with identical salaries.

   *Input:*
   ```python
   salaries = [3000, 3200, 3100, 3200, 3500, 3400, 3600, 3800, 3700, 3200, 4000, 4200]
   ```

   *Output Example:*
   ```
   Identical salary months: 2, 4, 10
   ```

3. **Salary Growth Rate:**
   Given a list of employee salaries for 12 months. Find the month with the highest salary growth rate compared to the previous month.

   *Input:*
   ```python
   salaries = [3000, 3200, 3100, 3300, 3500, 3400, 3600, 3800, 3700, 3900, 4000, 4200]
   ```

   *Output Example:*
   ```
   Month with the highest salary growth rate: 2 (Growth Rate: 6.67%)
   ```

4. **Online Sales Analysis**
   A company conducts online sales. You are provided with transaction data as a list of tuples:

   ```python
   transactions = [
       (1001, "2025-03-01", "Laptop", 1200.00, "USD"),
       (1002, "2025-03-02", "Mouse", 25.50, "USD"),
       (1003, "2025-03-02", "Keyboard", 45.00, "USD"),
       (1004, "2025-03-03", "Monitor", 300.00, "USD"),
       (1005, "2025-03-04", "Desk Chair", 150.00, "USD")
   ]
   ```

   Each transaction is represented as a tuple:
   (Order ID, Date, Product Name, Amount, Currency)

   Implement the following tasks:

   1. Calculate the total sales amount.
   2. Determine the number of sales on a specific day (e.g., March 2, 2025).
   3. Filter transactions with amounts greater than 100 USD.
   4. Add a new transaction: a Graphics Card purchase worth 500 USD on March 5, 2025.
   5. Delete the transaction with ID 1003.
   6. Convert the currency from USD to EUR (1 USD = 0.92 EUR).
   7. Find the most expensive product.
   8. Calculate the average transaction amount.
   9. Generate a transaction list with an additional column for VAT (20%).
   10. Merge transactions with customer data.

   ```python
   customer_ids = [501, 502, 503, 504, 505]
   ```

5. **User Reviews Analysis**
   You are given a list of product reviews from an e-commerce store:

   ```python
   reviews = [
       "Excellent product! Buying for the second time.   ",
       "Terrible quality. Broke within a week!",
       "Decent product, but delivery was slow.",
       "Very satisfied with the purchase, recommend!   ",
       "Would not recommend. Waste of money.  ",
       "Great value for money!  ",
       "Good product, but the packaging was damaged. ",
       "Bought as a gift. The recipient was satisfied.   ",
   ]
   ```

   Perform the following tasks:

   1. Remove unnecessary spaces from the reviews.
   2. Count how many reviews contain keywords like "good", "excellent", "great", or "satisfied".
   3. Sort the reviews by their length.
   4. Combine all reviews into a single text.
   5. Create a new list excluding reviews with negative keywords like "terrible", "would not recommend", or "waste of money".